<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <h1 class="display-1">
        About
      </h1>
      <hr>
    </div>

    <div class="col-12 mt-3">
      Tuvo LLC has consulted for the <b> National Institutes of Health (NIH) Central Utility Plant </b> in Bethesda,
      Maryland
      for several years, providing software solutions tailored to the campus's needs.
    </div>

    <div class="col-12 mt-3">
      <h5>
        Sample applications include:
      </h5>

      <ul>
        <li>
          Daily data reporting tools for upper management.
        </li>
        <li>
          Mobile-friendly data entry forms for operators.
        </li>
        <li>
          Interactive visualization websites for engineers and data scientists.
        </li>

      </ul>
    </div>
    <div class="col-12">
      <h5>
        This work has been presented in several international conferences, including:
      </h5>
    </div>
    <div class="col-12">
      <ul>
        <li>
          <a href="https://www.districtenergy.org/idea2019/viewdocument/informatics-driven-central-plant-op">
            CampusEnergy2019 Conference
          </a>
        </li>
        <li>
          <a
            href="https://www.osisoft.com/Presentations/Data-Management-Platform-improves-NIH-Central-Utility-Plant-Operational-Excellence/">
            OSISoft PI World 2018,</a> where NIH <a
            href=" https://cdn.osisoft.com/osi/presentations/2018-uc-san-francisco/UC18NA-D1KY06-OSIsoft-Green-Customer-Awards-Presented-by-OSIsoft-CAB-Members.pdf">
            won an award for Digital Sustainability Improvements.
          </a>
        </li>
        <li>
          <a
            href="https://cdn.osisoft.com/osi/presentations/2017-uc-san-francisco/UC1702NAFW07_NIH_DGuan_NIHTransformsCentralUtilitiesPlant.pdf?_ga=2.188821101.734440238.1554057014-1860839908.1549928373">
            OSISoft PI World 2017
          </a>
        </li>

      </ul>
      <hr>
    </div>
    <div class="col-12">
      <h5>
        Technologies Used
      </h5>
    </div>
    <div class="col-12">
      We handle application development from the database level all the way up to the user interface. We favor open
      source software whenever possible. Some technologies we use regularly (including to build this webpage) are:
    </div>


    <ng-container *ngFor="let el of techArr; let i = index;">
      <div *ngIf="i%4==0" class="col-12 tech-spacer">

      </div>

      <div class="col-2">
        <div class="text-center">
          <h5>
            {{el.name}}
          </h5>
        </div>
        <div>
          <img [src]="el.imgSrc" class="imgfill">
        </div>
      </div>
      <div class="col-1">
      </div>
      <div *ngIf="i%4==3" class="col-12">
        <hr>
      </div>
    </ng-container>


    <div class="col-12">

      Please <a routerLink="../contact"> contact us</a> for more information or references.

    </div>
    <div class="col-12 tech-spacer">

    </div>


  </div>
</div>