<div class="container-fluid">
  <div class="jumbotron-spacer">

  </div>
  <div class="row">
    <div class="col-12">

    </div>
    <div class="col-12">
      <h1 class="display-1">
        Tuvo LLC
      </h1>

    </div>
    <div class="col-12">
      <div class="col-12">
        We offer custom software solutions to fit your needs, particularly in transforming
        tech infrastructure to use cloud resources in optimal ways.
      </div>
      <div class="col-12">
        Specialties include:
        <ul>
          <li>
            AWS, particularly cloud-native, serverless architectures using AWS Lambda, SNS, SQS, DynamoDB, RDS, and more.
          </li>
          <li>
            Terraform
          </li>
          <li>
            React / Angular
          </li>
        </ul>
      </div>
    </div>
    <div class="container-fluid">

      <div class="row">

        <div class="col-12">




          <div class="col-12">
            <h3>
              <hr>
              Contact
            </h3>
            <div class="col-12 mt-3">
              Tuvo LLC is owned and operated by Brendan John.
            </div>
            <div class="col-12 mt-3">
              <a href="mailto:brendanajohn@gmail.com"> Email</a>
            </div>
            <div class="col-12 mt-3">
              <a href="https://www.linkedin.com/in/brendan-john-05a11446"> Linkedin</a>
            </div>
            <div class="col-12 mt-3">
              <a href="https://github.com/bajohn/"> Github</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>