<div class="container-fluid">
  <div class="jumbotron-spacer">

  </div>
  <div class="row">
    <div class="col-12">

    </div>
    <div class="col-12">
      <h1 class="display-1">
        Tuvo LLC
      </h1>

      <app-carousel>

      </app-carousel>
    </div>
    <div class="col-12">
      <h1 class="display-4">
        Bring your data to life
      </h1>
    </div>
    <div class="col-12">
      <h5>
        We offer custom software development and solutions to fit your needs, particularly in data processing, analysis,
        and visualization.
      </h5>
    </div>


    <!-- <h3>
      Design software that fits your real-world needs
    </h3> -->
  </div>
  <div class="row">

  </div>
  <div class="row">
    <div class="col-4 center-text">
      <!-- <i class="icon-sized fas fa-chart-pie"></i> -->

      <fa name="pie-chart" class="icon-sized"></fa>




    </div>
    <div class="col-4">
      b
    </div>
    <div class="col-4">
      c
    </div>
  </div>
</div>