<div class="container-fluid">
  <div class="jumbotron-spacer">

  </div>
  <div class="row">
    <div class="col-12">

    </div>
    <div class="col-12">
      <h1 class="display-1">
        Tuvo LLC
      </h1>

      <app-carousel>

      </app-carousel>
    </div>
    <div class="col-12">
      <h1 class="display-4">
        Bring your data to life
      </h1>
    </div>
    <div class="col-12">
      <h5>
        We offer custom software development and solutions to fit your needs, particularly in data processing, analysis,
        and visualization.
      </h5>
    </div>
    <div class="col-12">
      We specialize in realtime operational environments where engineers and operators need accurate, reliable data,
      such as
      in energy, logistics, and heavy industry. Please <a routerLink="../contact"> contact us</a> to find out how we can
      collaborate on your project.
    </div>

    <!-- <h3>
      Design software that fits your real-world needs
    </h3> -->
  </div>
  <div class="row">

  </div>
  <div class="row">
    <div class="col-4 center-text">

      <div>
        <fa name="connectdevelop" class="icon-sized"></fa>
      </div>
      <div>
        <h5>
          Interconnect complex systems
        </h5>

      </div>

    </div>
    <div class="col-4 center-text">
      <fa name="pie-chart" class="icon-sized"></fa>
      <div>
        <h5>
          View data efficiently
        </h5>

      </div>
    </div>


    <div class="col-4 center-text">


      <fa name="tasks" class="icon-sized"></fa>
      <div>
        <h5>
          Enable operational improvements
        </h5>
      </div>

    </div>

  </div>
  <div class="col-12 tech-spacer">

  </div>
  <div class="col-12 tech-spacer">

  </div>
</div>