/* You can add global styles to this file, and also import other style files */
.imgfill {
    flex: 1;
    width: 100%;
    height: auto;

}

.jumbotron-spacer {
    height: 10px;
}

.xs-min {
    overflow:hidden;
}

.carousel-mover {
    position: relative;
    left: 0px;
    top: 0px;
    -webkit-transition: left 1.5s; /* Safari */
    transition: left 1.5s;    
}

.hide-overflow{
    overflow:hidden;
}



/* .main-bg {
    background-color:#f2f5ff;
} */