/* You can add global styles to this file, and also import other style files */
.imgfill {
    flex: 1;
    width: 100%;
    height: auto;

}

.jumbotron-spacer {
    height: 10px;
}
.tech-spacer {
    height: 20px;
}

.xs-min {
    overflow:hidden;
}

.carousel-mover {
    position: relative;
    left: 0px;
    top: 0px;
    -webkit-transition: left 2s; /* Safari */
    transition: left 2s;    
}

.hide-overflow{
    overflow:hidden;
}

.icon-sized {
    font-size:10rem;
}

.center-text {
    text-align: center;
}

.nav-logo {
    height: 5rem;
    border-right: 2px solid #636363;
    
}

/* .main-bg {
    background-color:#f2f5ff;
} */